h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  }
  h1,  h2,  h3,  p {
    font-family: Helvetica;
  }
.item h2 {
  font-size: 32px;
  color: white;
  }
#brush {
    background-color: MediumSpringGreen;
  }
#frame {
    background-color: LightCoral;
  }
#paint {
    background-color: SkyBlue;
  }
  .price {
    color: blue;
    font-weight: bold;
  }
